body, html {
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    height: 37.5px;
    width: 37.5px;
}

h1 {
    color: white;
}